// Cores principais
$primary-color: #FF5700;
$secondary-color: #FF8800;
$error-color: #ff4747;
$neutral-color: #888;
$neutral-light: #aaa;
$white-color: #fff;
$dark-color: #333;
$medium-dark: #555;

// Fontes
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;
$font-size-heading: 1.5rem;

// Outros estilos reutilizáveis
$border-radius: 5px;
$transition-speed: 0.3s;
$transition-transform: 0.2s;
